@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html {
  scroll-behavior: smooth;
}
body{
  font-family: SuisseIntl-Regular, Helvetica, Arial, sans-serif;
}
body.highlight {
  overflow-y: hidden;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  /*min-height: 100vh;*/
}
.main p.card-text {
  max-width: unset;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.bg-gray {
  background-color: #F9F9F9;
}
.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.blog-content-w .card p {
  font-size: 16px;
}
.card p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  max-width: 30ch;
  color: #505050;
  letter-spacing: 0.4px!important;
  line-height: 24px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.video {
  height: 100vh;
  width: 100%;
  object-fit: fill;
}
.main-cards {
  border: none;
}
.main .card {
  border: none;
  border-radius: none;
  background: none;
}
.main .card .card-body span {
    color: #AAAAAA;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navbar {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -22px;
    z-index: 999;
    padding: 0px!important;
    background-color: #ffffff;
}
.footer-wrapper {
  border-top: 1px solid #f3f3f3;
  display: flex;
  flex-direction: unset !important;
  justify-content: space-between !important;
  padding: 80px 6rem;
  background-color: #ffffff;
  color: #505050;
  position: relative;
}
.dropdown.bane {
  display: none;
}
.footer-copyright {
  border-top: 1px solid #d1d1d1;
  display: flex;
  flex-direction: unset !important;
  justify-content: space-between !important;
  padding: 2rem 6rem !important;
  background-color: #F9F9F9;
  color: #505050;
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.footer-wrapper ul {
  padding-left: 0px;
  margin-top: 20px;
}
.footer-wrapper ul li {
  list-style-type: none;
  padding-bottom: 10px;
}
.footer-wrapper ul li a {
  color: #505050;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand img {
  max-width: 180px;
  max-height: 50px;
}
.footer-brand img {
  max-width: 200px;
  max-height: 60px;
  margin-bottom: 30px;
}
.footer-wrapper span {
  color: #AAAAAB;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.footer-wrapper .footer-menu-title {
  color: #AAAAAA;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main:nth-child(even){
  background-color: #F9F9F9;
}
.main .card-body {
  padding-top: 0px;
}
.main .blog-content-right .card-body {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  text-align: center;
}
.main .blog-content-right.www .card-body {
  box-shadow: 0px 0.9px 15px rgba(0, 0, 0, 0.02), 0px 2.8px 15px rgba(0, 0, 0, 0.02), 0px 15px 120px rgba(0, 0, 0, 0.06);
}
.main .blog-content-right .card-body.misomax {
  box-shadow: 2px 0.9px 15px rgba(0, 0, 0, 0.02), 0px 2.8px 15px rgba(0, 0, 0, 0.02), 0px 15px 120px rgba(0, 0, 0, 0.06);
}
.main .research-content-right .card-body {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-left: 10px;
}
.research-row {
  margin-right: 5px!important;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 28px 10px;
}
.research-row svg {
  font-size: 28px;
  margin-right: 15px;
}
.main .blog-content-right svg {
  max-width: 40px;
  background-color: #f3f3f3;
  padding: 13px 10px;
  border-radius: 25px;
}
.trading-contents svg {
  max-width: 20px;
}
.contact-form .form-row {
  display: flex;
}
.contact-form .form-group {
  margin: 5px;
}
.bythenumbers-box .number-box {
  display: flex;
  margin-bottom: 15px;
}
.bythenumbers-box .number-box .number-box-border {
  width: 4px;
  height: auto;
  margin-right: 8px;
  background-color: #CF0A2C;
}
.bythenumbers-box .number-box .card-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0px;
  line-height: 26px;
}
.social-w:hover {
  background-color: #eeeeee!important;
}
.be-aware-w svg{
  background-color: #fff;
  padding: 10px;
  border-radius: 30px;
}
.be-aware-w h5 {
  align-items: center;
  display: flex;
}
.be-aware-w .card-body {
  padding: 40px!important;
}
.be-aware-w .card-body p {
  color: #505050;
}
.be-aware-w .card-body a {
  color: #505050;
}
.team-members h2{
  font-size: 26px;
  color: #262626;
  font-weight: 700;
  margin-bottom: 40px;
}
.team-members .card {
  padding: 0px;
  margin: 0px;
}
.members-board h2 {
  padding-left: 0px;
  padding-top: 60px;
}
.team-members .container {
  padding: 0px;
  margin: 0px;
}
.team-members .members-board {
  padding-top: 0px;
}
.team-members .row.wwa {
  border-top: 2px solid #f3f3f3;
}
.careers-w .card-body h1{
  padding-top: 125px;
}
.careers-w .bg-themes-big svg {
  object-fit: unset;
}
/* Mouse Scroll Animation */
@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
  bottom: 0px;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}
.main-slider .carousel-indicators {
  display: none!important;
}
.main-slider .carousel-control-prev {
  display: none!important;
}
.main-slider .carousel-control-next {
  display: none!important;
}
.carousel-control-next, .carousel-control-prev {
  color: #d1d1d1!important;
}
.box-slider-buttons {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 10px;
}
.box-slider-buttons button:first-child {
  margin-right: 10px;
}
.box-slider-wrapper .carousel-item .card {
  border: 1px solid #d1d1d1;
  margin-right: 10px;
  max-width: 416px;
}
.box-slider-wrapper .carousel-item .card:hover {
  border: 1px solid #d1d1d1;
}
.box-slider-wrapper .carousel-inner {
  padding-bottom: 50px;
}
.box-slider-wrapper .card-img-top {
  max-height: 200px;
  object-fit: cover;
}
.newsletter-form-container .btn-danger {
  border: none;
}
.newsletter-form-container .btn-danger:hover {
  background-color: #E92B4B!important;
}
.newsletter-form-wrapper .form-control:focus {
  border: 2px solid #dee2e6;
}
.newsletter-form-wrapper .form-control {
  height: 55px;
  padding-left: 40px;
  outline: none!important;
  box-shadow: none!important;
  background-color: none!important;
}
.newsletter-form-wrapper-new .form-control {
  height: 55px;
  padding-left: 40px;
  outline: none;
  box-shadow: none;
  background-color: none;
}
.form-name-input, .form-lastname-input, .form-email-input {
  position: relative;
}
.form-lastname-input input{
  padding-left: 10px!important;
}
.newsletter-form-icons {
  position: absolute;
  left: 20px;
  top: 20px;
}
.newsletter-form-wrapper {
  padding: 40px 0px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.newsletter-form-wrapper svg {
  max-width: 20px;
}
.newsletter-form-wrapper .numbers-bg-right {
  position: absolute;
  right: 0px;
  top: 0px;
  max-width: 600px;
  padding-right: 0px;
}
.newsletter-form-wrapper-new {
  padding: 50px 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0.9px 15px, rgba(0, 0, 0, 0.02) 0px 2.8px 15px, rgba(0, 0, 0, 0.06) 0px 15px 120px;
  border-radius: 10px;
  position: relative;
}
.newsletter-form-wrapper-new.www {
  padding: 34px 20px;
}
.newsletter-form-wrapper-new svg {
  max-width: 20px;
}
.newsletter-form-wrapper-new .numbers-bg-right {
  position: absolute;
  right: 0px;
  top: 0px;
  max-width: 600px;
  padding-right: 0px;
}
.newsletter-box-top svg {
  max-width: 30px;
  top: 13px!important;
}
.form-input-resp {
  display: flex;
}
.form-input-resp input {
  margin-bottom: 10px;
}
.newsletter-form-container .form-input-resp input {
  margin-bottom: 10px;
}
.form-lastname-input {
  padding-left: 10px;
}
.middle-content-card {
  display: flex;
}
.middle-content-card-top, .middle-content-card-bottom {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}
.middle-content-card, img {
  object-fit: cover;
  height: auto;
}
.middle-content-card-bottom, img {
  object-fit: cover;
  height: auto;
}

.middle-content-card-bottom img {
  object-fit: cover;
}
.dropdown-menu {
  padding: 15px 20px!important;
  gap: 15px;
  max-width: 360px;
}
.dropdown-item {
  line-height: 30px;
  display: flex!important;
  align-items: flex-start;
  margin-bottom: 20px;
}
.dropdown-content span {
  font-size: 12px;
  color: #aaaaaa;
  margin-top: 10px;
}
.dropdown-content-multiple span {
  font-size: 12px;
  color: #aaaaaa;
}
.dropdown-list-menu-item p {
  color: #505050;
  font-size: 16px;
  margin: 0;
}
.dropdown-list-menu-item {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  overflow: hidden;
}
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 15px 20px;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}
.dropdown-content-multiple {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}
.dropdown-content a {
  color: black;
  padding: 8px 16px;
  padding-left: 0px;
  text-decoration: none;
  display: block;
}
.dropdown-content-new a {
  padding-left: 0px!important;
}

.dropdown-content a:hover {color: #dc3545;}
.dropdown-list-menu-item:hover p{ color: #dc3545; }
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
.dropdown-content-multiple a:hover {color: #dc3545;}
.dropdown:hover .dropdown-content-multiple {display: flex;}
.dropdown-content-new {
  max-width: 336px;
  padding: 15px 20px;
}
.login-button:hover {
  background-color: #E92B4B!important;
  outline: none;
  border: 1px solid #E92B4B;
}
.blog-content-w {
  padding: 4.5rem 6rem;
}
.numbers-bg-left {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 250px;
}
.numbers-bg-right {
  position: absolute;
  right: 0px;
  top: 0px;
  max-width: 250px;
}
.bythenumbers-wrapper .container {
  padding-top: 20px;
}
.bythenumbers-wrapper {
  position: relative;
}
.bythenumbers-wrapper .card {
  width: 100%;
  padding: 60px 0px;
  z-index: 9;
}
.numbers-bg-left img {
  width: 100%;
}
.numbers-bg-right img {
  width: 100%;
}
.dropdown-content-new a{
  padding: 8px 6px;
}
.navbar-nav svg {
  max-width: 30px;
}
.detail-breadcrumb {
  display: flex;
  padding: 25px 0px;
}
.detail-breadcrumb a {
  color: #aaaaaa;
  text-decoration: none;
}
.blog-container {
  display: flex;
  justify-content: space-between;
}
.blog-social-media-box {
  border: 1px solid #d3d3d3;
  display: flex;
  padding: 16px 24px;
  align-items: center;
  border-radius: 6px;
  justify-content: space-between;
  margin-top: 20px;
}
.blog-social-media-box a {
  color: #505050;
  font-size: 24px;
  margin: 0px 35px;
}
.blog-right-content {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  margin-top: 20px;
  padding: 20px;
}
.blog-right-content span {
  color: #AAAAAA;
  font-size: 12px;
}
.blog-right-content h3{
  color: #262626;
  font-size: 18px;
  font-weight: 500;
}
.blog-right-content ul {
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.blog-right-content ul li {
  list-style-type: none;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blog-right-content ul li a {
  color: #505050;
  text-decoration: none;
  font-weight: 500;
}
.blog-container-right span.brand-text {
  font-weight: 500;
}
.blog-container-left .date-time {
  color: #aaaaaa;
  font-size: 16px;
  line-height: 50px;
}
.blog-container-left {
  padding-bottom: 10px;
  margin-right: 50px;
}
.blog-container-left img {
  width: 100%;
  margin: 25px 0px;
  object-fit: cover;
}
#blogContainerRight.active {
  position: fixed;
  top: 80px;
  max-width: 400px;
}
.blog-container-right {
  min-width: 432px;
}
.newsletter-left-input {
  width: 100%;
  display: flex;
}
.form-email-input {
  display: flex;
  flex-direction: row;
}
.form-email-input input {
  padding-left: 40px;
  margin-bottom: 0px;
}
.form-email-input .newsletter-form-icons {
  top: 18px;
}
.form-email-input .subs-submit {
  margin-left: 15px;
}
main.newsletter-box-top {
  padding: 100px 0px;
}
main.industry-box-top {
  padding: 100px 0px;
  margin-bottom: 75px;
}
.contact-page-main {
  display: flex;
  flex-direction: column;
}
.contact-page-description-main {
  display: flex;
  padding: 27px 32px;
  background-color: #F9F9F9;
  justify-content: space-between;
}
.contact-page-description-main img {
  border-radius: unset!important;
}
.contact-page-right-box {
  padding: 32px;
  background-color: #F9F9F9;
  margin-bottom: 10px;
}
.contact-footer .card-body{
  background-color: #f9f9f9;
  padding: 20px;
}
.contact-footer .card-body svg {
  margin-right: 5px;
}
.navbar-nav-wrap .navbar-nav-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar-nav-wrap .navbar-nav-cont  .nav-link {
  color: #aaaaaa;
}
.navbar-nav-wrap .navbar-nav-cont  .dropdown-content {
  top: 72px;
}
.navbar-nav-wrap .navbar-nav-cont  .dropdown-content-multiple {
  top: 72px;
}
.navbar-nav-wrap .navbar-nav-right {
  display: flex;
}
.navbar-nav-wrap .navbar-nav-cont .dropdown {
  margin: 0px 20px;
}
.navbar-nav-wrap .navbar-nav-cont .dropdown button {
  padding: 24px 0px;
}
.navbar-nav-wrap .navbar-nav-cont .dropdown.active button::after{
  left: 0;
  right: 0;
  bottom: 0px;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #CF0A2C;
  border: none;
  margin: 0;
}
.navbar-nav-wrap .navbar-nav-cont .dropdown.active a::after{
  left: 0;
  right: 0;
  bottom: 0px;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #CF0A2C;
  border: none;
  margin: 0;
}
.navbar-nav-wrap .navbar-nav-cont .dropdown.active button{
  color: #262626;
}
.navbar-nav-wrap .navbar-nav-cont .dropdown .btn-light{
  padding-bottom: 18px;
  font-size: 14px;
  color: #262626;
  background-color: #F3F3F3;
  border: unset!important;
  font-weight: 600;
  padding: 10px 17px;
  display: flex;
  align-items: baseline;
}
.navbar-nav-wrap .navbar-nav-cont .dropdown .btn-light:hover {
  background-color: #eeeeee;
}
.navbar-nav-wrap .navbar-nav-cont .dropdown .btn-danger{
  font-size: 14px;
  padding: 10px 17px;
  display: flex;
  align-items: baseline;
  font-weight: 600;
}
.list-page-container .card img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.list-page-container .card a {
  text-decoration: none;
  color: #000000;
}
.list-page-container {
  flex-flow: wrap;
}
.list-page-container .card {
  display: flex;
  flex-flow: column;
  padding: 0px;
}
.list-item-box-wrapper {
  display: flex;
  flex-flow: wrap;
}
.list-item-box-cont {
  margin: 10px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 0.1);
  min-height: 425px;
}
.navbar-collapse .navbar-nav-mobile{
  display: none;
}
.bg-themes {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 70px;
  height: 400px;
  overflow: hidden;
  display: flex;
}
.bg-themes-big {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 70px;
  overflow: hidden;
  height: 452px;
  display: flex;
}
.bg-themes-big-center {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 70px;
  overflow: hidden;
  height: 450px;
  display: flex;
}
.bg-themes-big-x {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 72px;
  overflow: hidden;
  max-height: 520px;
  height: 100%;
  display: flex;
}
.accordion-menu-faq {
  padding: 15px 0px;
  border-bottom: 1px solid #f3f3f3;
  width: 100%;
}
.members-board.www {
  position: relative;
  justify-content: space-between;
  display: none;
  width: 100%;
}
.accordion-menu-faq.www {
  position: relative;
  justify-content: space-between;
  display: none;
}
.pdf-accordion-numb button {
  background-color: unset!important;
  margin: 0px 5px;
  border: 0px!important;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 20px;
}
.pdf-accordion-numb button.active {
  background-color: #ffffff!important;
}
.accordion-menu-faq.www:hover {
  background-color: #f9f9f9;
}
.members-board.www.active {
  display: flex;
  border-top: 2px solid #f2f2f2;
}

.accordion-menu-faq.www.active {
  display: flex;
}
.accordion-menu-faq h5 {
  font-weight: 400;
  font-size: 20px;
  color: #262626;
}
.accordion-menu-faq-item {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}
.answer-question-wrapper {
  text-align: center;
  padding: 30px 0px;
}
.answer-question-wrapper a {
  margin: 10px 5px;
  font-weight: 500;
  padding: 6px 20px;
  background-color: #f3f3f3;
  font-size: 14px;
}
#misso-w {
  display: none;
  border-top: 2px solid #f2f2f2;
  padding-top: 50px;
}
.search-box {
  position: absolute;
  align-self: self-end;
  top: 120px;
}
.search-box-w {
  position: absolute;
  right: 0px;
  top: 70px;
}
.search {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  right: 0px;
}
.search.hovered input{
  background-color: #f9f9f9;
}
.search svg {
  height: 1.5rem;
  padding-left: 0.5rem;
  position: absolute;
  cursor: pointer;
  max-width: 56px;
  width: 1.7rem;
  margin-left: 8px;
}
.search-box.hovered .search input {
  background-color: #f9f9f9;
}
.search__icon {
  fill: #262626;
  color: #262626;
  z-index: 99;
}
.search__close {
  right: -8;
  fill: white;
  transition: 500ms fill ease-in;
}
.search__delete {
  fill: #c7ccdb;
  right: 5rem;
  display: none;
}
.search-box-article {
  position: absolute;
  left: 20px;
  top: 20px;
  font-weight: 600;
}
.search-box-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.bank-holidays-table {
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bank-holidays-table p {
  color: #505050;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.bank-holidays-w {
  background-color: #f9f9f9;
  padding: 20px;
}
.need-sup-w {
  background-color: #f9f9f9;
  padding: 20px;
  height: 100%;
}
.search input {
  border: none;
  border-radius: 50%;
  padding: 0.2rem 1.7rem;
  font-family: inherit;
  font-size: 2rem;
  color: #767b91;
  outline: none;
  width: 2rem;
  transition: 500ms width ease-in-out, 500ms padding ease-in-out, 500ms border-radius ease-in-out;
}
.search input:not(:placeholder-shown) ~ .search__delete {
  display: block;
}
.search-open .search__icon {
  z-index: 999;
}
.search-open input {
  width: 20rem;
  padding: 0.6rem 2rem 0.6rem 3rem;
  font-size: 18px;
  border-radius: 2.2rem;
  background-color: #f9f9f9;
  z-index: 99;
}
.misso {
  display: flex;
}
.misso .col-md-3 {
  margin-right: 15px;
}
.member-box-w.act {
  display: block;
}
.search-open svg.search__close {
  fill: #767b91;
  z-index: 99;
  right: 10px;
  margin-right: 15px;
}
.answer-question-wrapper a:hover {
  background-color: #eeeeee!important;
  border-color: #eeeeee;
}
.answer-question-wrapper h4 {
  font-weight: 400;
  margin-bottom: 20px;
}
.breadcrumb-wrapper a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}
.breadcrumb-wrapper a:first-child {
  color: #aaaaaa;
}
.pdf-accordion-left {
  width: 100%!important;
}
.pdf-accordion-right {
  display: none!important;
}
.pdf-accordion-right a {
  color: #505050;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  padding: 10px 10px;
  width: 100%;
}
.pdf-accordion-right .card-body {
  padding: 0px;
}
.pdf-accordion-right a:hover{
  background-color: #EEEEEE;
}
.pdf-accordion .pdf-accordion-left {
  width: 50%!important;
}
.pdf-accordion .pdf-accordion-right {
  display: block!important;
  overflow: hidden;
}
.pdf-accordion-right .card-body {
  position: relative;
  height: 100%;
  background-color: #f9f9f9;
  margin-top: 8px;
}
.accordion-menu-faq.www .accordion-menu-faq-item {
  width: 100%;
}
.contact-w .card-title {
  padding-top: 125px;
}

.order-types-overview svg {
  max-width: 40px;
  background-color: #f3f3f3;
  padding: 13px 10px;
  border-radius: 25px;
}
.order-types-overview .card-body {
  height: 250px;
}
.white-cont {
  padding: 30px 0px 10px 0px;
}
.white-cont h3{
  font-size: 26px;
  color: #262626;
  font-weight: 700;
  padding: 10px 0px;
}
.youtube-box-bg h5 {
  padding-bottom: 20px;
}
.our-offering ul {
  margin-top: 20px;
}
.our-offering ul li {
  color: #505050;
  font-size: 16px;
}
.bg-themes-main-wrapper-big-x h1{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
}
.bg-themes-main-wrapper-big-x p{
  font-size: 20px;
  line-height: 32px;
}
.bg-themes-main-wrapper-big-x-right {
  height: 520px;
}
.bg-themes-main-wrapper-big-x-right h1{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
}
.bg-themes-main-wrapper-big-x-right p{
  font-size: 20px;
  line-height: 32px;
}
.bg-themes-main-wrapper {
  height: 450px;
}
.bg-themes-main-wrapper-big {
  height: 450px;
}
.bg-themes-main-wrapper h1{
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
}
.bg-themes-main-wrapper p{
  font-size: 20px;
  line-height: 32px;
}
.bg-themes-main-wrapper-big {
  height: 450px;
}
.bg-themes-main-wrapper-big h1{
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
}
.bg-themes-main-wrapper-big p{
  font-size: 20px;
  line-height: 32px;
}
.bg-themes-main-wrapper-big-x-right img{
  width: 600px!important;
  height: 100%!important;
  position: absolute;
  right: 0px;
}
.bg-themes-big-center img{
  width: 600px!important;
  height: 100%!important;
  right: 0px;
  margin: 0 auto;
  position: unset!important;
}
.bg-themes-main-wrapper img{
  width: 600px!important;
  height: 100%!important;
  position: absolute;
  right: 0px;
}
.bg-themes-main-wrapper-big img{
  width: 100%!important;
  height: 100%!important;
  position: absolute;
  right: 0px;
}
.answer-question-wrapper svg {
  padding-right: 10px;
}
.bg-themes-main-wrapper-big-x .col-md-6 {
  padding: 20px;
}
.bg-themes-main-wrapper .col-md-6 {
  padding: 20px;
}
.bg-themes-main-wrapper .col-md-12 {
  padding: 20px;
}
.navbar {
  position: fixed!important;
  width: 100%;
  top:0px;
}
.main-slider {
  padding-top: 72px;
}
#basic-navbar-nav .navbar-nav-wrap {
  width: 100%;
}
.member-content-slider-container.ss {
  height: 400px;
}
.blog-content-slider-container.ss {
  height: 400px;
}
.team-members-menu {
  display: flex;
  align-self: flex-start;
}
.search-box-blog {
  position: absolute;
  right: 0px;
}
.mobile-blog-select {
  display: none;
}
.team-members .pdf-accordion-numb {
  background: #eee;
  margin-bottom: 30px;
  padding: 5px 0px;
  border-radius: 20px;
  display: flex;
  align-self: flex-start;
}
.pdf-accordion-numb {
  background: #eee;
  margin-bottom: 30px;
  padding: 3px 0px;
  border-radius: 20px;
  max-width: 550px;
}
.member-content-slider-container.ss .slick-slider {
  height: 410px;
}
.blog-content-slider-container.ss .slick-slider {
  height: 410px;
}
.member-content-slider-container {
  height: 620px;
}
.blog-content-slider-container {
  height: 620px;
}
.company-content-slider-container {
  height: 620px;
}
.card span {
  display: unset;
}
.btn-light-new {
  background-color: #ffffff!important;
}
.btn-light-new:hover {
  background-color: #F3F3F3!important;
}
.multilang-button {
  font-weight: 400;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
}
.slick-slider {
  position: absolute;
  right: 10px;
  left: 0px;
  overflow: hidden;
  height: 620px;
  
}
.slick-track {
  left: -6px;
}
.slide-prev-button.disabled, .slide-next-button.disabled {
  color: #d1d1d1!important;
}
.slide-prev-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 7px 15px!important;
  display: flex!important;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  z-index: 9;
  font-size: 14px!important;
  font-weight: 500!important;
  color: #262626;
}
.slide-next-button {
  position: absolute;
  bottom: 0px;
  left: 140px;
  padding: 7px 15px!important;
  display: flex!important;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  z-index: 9;
  font-size: 14px!important;
  font-weight: 500!important;
  color: #262626;
}
.slide-next-button svg {
  width: 12px;
}
.slide-prev-button svg {
  width: 12px;
}
.slick-next {
  position: absolute;
  top: unset;
  left: 125px;
  bottom: 0px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  width: 100px;
  color: #000000;
  height: 35px;
  font-weight: 500;
  z-index: 9;
}
.slick-prev {
  position: absolute;
  top: unset;
  left: 0px;
  bottom: 0px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  width: 100px;
  color: #000000;
  height: 35px;
  margin-right: 20px;
  font-weight: 500;
  z-index: 9;
}
.slick-list {
  overflow: hidden;
  padding-bottom: 70px;
}
.bottom-box-cont.www .card-body {
  box-shadow: 0px 0.9px 15px rgba(0, 0, 0, 0.02), 0px 2.8px 15px rgba(0, 0, 0, 0.02), 0px 15px 120px rgba(0, 0, 0, 0.06);
  padding: 20px 10px;
}
.bottom-box-cont {
  margin-bottom: 20px;
}
.bottom-box-cont a svg {
  max-width: unset!important;
  border-radius: unset!important;
  background-color: unset!important;
  padding: unset!important;
  color: #CF0A2C;
  width: 12px;
}
.bottom-box-cont a {
  color: #262626;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}
.bottom-box-cont .card-body {
  min-height: 245px;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsletter-form-container input::placeholder {
  color: #aaaaaa;
}
.blog-slider-item {
  background-color: #ffffff!important;
  padding: 0px!important;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  margin: 10px;
}
.blog-slider-item.ss .card-body {
  height: unset;
}
.blog-slider-item.ss .blog-slider-item-img {
  height: unset;
}
.blog-slider-item.ss {
  padding: 30px!important;
}
.blog-slider-item.ss img{
  max-height: 280px;
  border-radius: 5px!important;
}
.slider-box-wrapper .slick-dots {
  bottom: 90px;
}
.slider-box-wrapper .slick-dots li {
  margin: 0px 7px;
}
.slider-box-wrapper .slick-dots li.slick-active button{
  background-color: #505050!important;
}
.slider-box-wrapper .slick-dots li button::before {
  content: none!important;
}
.slider-box-wrapper .slick-dots li button {
  background-color: #EEEEEE;
  width: 28px!important;
  height: 3px!important;
  padding: 0px!important;
}
.blog-slider-item .card-body {
  margin: 10px 0px 20px 0px;
  line-height: 24px;
}

.blog-slider-item .card-body {
  height: 300px;
}
.blog-slider-item-desc {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #505050;
} 
.blog-slider-item-img {
  height: 200px;
}
.blog-slider-item-img img {
  max-height: 200px;
  width: 100%;
}
.card-body-bot {
  background-color: #f9f9f9;
  padding: 20px;
}
.main-carousel-slider .carousel-caption {
  top: 20%;
  color: #000000;
}
.main-carousel-slider .carousel-caption h3 {
  font-size: 62px;
  color: #000000;
  font-weight: 700;
}
.main-carousel-slider .carousel-caption p {
  line-height: 30px;
  font-size: 20px;
  margin-top: 20px;
  color: #262626;
}

/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
  width: 30px;
  height: 3px;
  background-color: #CF0A2C;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}
.mobile-sub-menu-bottom {
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0px 6px -1px;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  max-width: 412px;
  background-color: #ffffff;
}
.service-overview-wrapper ul li {
  margin-bottom: 5px;
}
.service-overview-wrapper ul li p{
  color: #505050;
  font-size: 16px;
}
.cryptofranc .bg-themes-big-x img {
  width: 785px!important;
  position: absolute;
  right: 0px;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: right top;
  bottom: -6px;
}
.payment-c .bg-themes-big-x img {
  width: 785px!important;
  position: absolute;
  right: 0px;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: right top;
  bottom: -6px;
}
.our-types-overview .col-md-3 .card-body{
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
}
.our-types-overview .col-md-3 .card-body svg {
  background-color: #ffffff;
  padding: 9px 8px;
  border-radius: 22px;
  margin-top: 10px;
}
.accordion-box ul {
  padding-left: 0px;
}
.accordion-box ul li svg{
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-right: 20px;
}
.accordion-box .accordion-title-top span{
  color: #AAAAAA;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.accordion-box .accordion-title-top h3 {
  color: #262626;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.5px;
}
.accordion-box .accordion-title-top p {
  color: #262626;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
}
.accordion-box ul li{
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.accordion-box ul li span {
  color: #AAAAAA;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.accordion-box ul li p {
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}
.accordion-box ul li.active {
  background-color: #f9f9f9;
}
.accordion-box ul li:hover {
  background-color: #f9f9f9;
}
.accordion-box ul li p {
  margin: 0;
}
.accordion-box-right {
  border-radius: 24px;
  border: 1px solid #EEEEEE;
  position: relative;
  overflow: hidden;
}
.accordion-box-right img {
  display: none;
  position: absolute;
  left: 0px;
}
.accordion-box-right img.active {
  display: block;
}
.accordion-title-top {
  margin-bottom: 30px;
}
.list-item-box-cont .card-body a div{
  margin-top: 10px;
}
.research-content-right .research-row img {
  width: 100%;
  height: 90px;
  position: absolute;
  right: 0px;
  top: -45px;
}
.research-content-right .research-row .col-md-6 {
  position: relative;
}
.wrap-image {
  display: flex;
  justify-content: center;
}
.wrap-image-mobile {
  display: none;
}
main .download-media-c {
  display: flex;
  justify-content: space-between;
}
.social-w .card-body {
  background-color: 'unset!important';
}
.useful-links {
  display: flex;
}
.useful-links a{
  color: #262626;
  text-decoration: none;
  background-color: #f3f3f3;
  padding: 23px 26px;
  display: block;
  margin-right: 20px;
}
.bg-f9f9f9 {
  background-color: #f9f9f9;
}
.contact-w .bg-themes-big img{
  width: 720px!important;
}
.contact-page-right-desc {
  border-left: 2px solid #f3f3f3;
  padding-left: 30px;
}
.contact-page-right-desc p {
  width: 100%;
}
.contact-page-left-desc a {
  color: #505050;
}
.contact-page-right-box a {
  color: #505050;
}
.member-slide-x {
  padding-top: 50px;
}
.btn-danger {
  background-color: #CF0A2C!important;
}
.row.fur {
  margin-top: 10px;
}
.research-breadcrumb {
  margin: 20px 0px 20px 20px;
}
.research-breadcrumb-h3 {
  margin: 20px 0px 20px 20px;
}
.research-breadcrumb a {
  font-size: 14px;
  color: #262626;
  text-decoration: none;
}
.research-breadcrumb a.frst {
  color: #aaaaaa;
}
.pdf-accordion-mobile {
  display: none;
}
.basic-navbar-nav-bg {
  display: none;
}
.slider-box-wrapper .btn {
  background-color: #ffffff;
}
.slider-box-wrapper .btn:hover {
  background-color: #F3F3F3;
}
@media (max-width: 1200px) {
  .top-menu-right {
    display: none;
  }
  .tokenization-r .card-body {
    height: unset!important;
  }
  .row.fur .col-md-3{
    margin-top: 10px;
  }
  .card.mirana {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
  }
  .minimal-counterparty-risk.abv .container{
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  .dropdown.bane {
    display: block;
  }
  .pdf-accordion-mobile {
    display: block;
  }
  .multilang-button.mob {
    margin-top: 0px;
    color: #505050;
    font-size: 16px;
    margin-right: 60px;
  }
  .pdf-accordion-left {
    display: none!important;
  }
  .pdf-accordion-right .card-body{
    display: none!important;
  }
  .row.accept-popular {
    flex-direction: column-reverse;
  }
  .row.accept-popular-pad {
    flex-direction: column-reverse;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .list-item-box-cont .card-body{
    padding: 10px 15px!important;
  }
  .crypto-custody-wrapper h3 {
    font-weight: 700!important;
  }
  .youtube-box-bg h3 {
    font-weight: 700!important;
  }
  .crypto-payment-wrapper h3 {
    font-weight: 700!important;
  }
  .tokenization-service-wrapper h3 {
    font-weight: 700!important;
  }
  .kickstart-crypto-wrapper svg {
    margin-right: 25px!important;
  }
  
  .this-pdf {
    display: flex;
    flex-direction: column;
  }
  .pdf-accordion-desktop .onx {
    padding-left: 20px;
    padding-right: 20px;
  }
  .pdf-accordion-mobile {
    display: block!important;
    background-color: #ffffff!important;
    padding: 20px;
    margin: 0px 20px 20px 20px;
  }
  .main.apa {
    margin-bottom: 40px;
  }
  .main.pod {
    padding: 20px!important;
  }
  .main.nick {
    padding: 40px 20px!important;
  }
  .useful-links {
    flex-direction: column;
  }
  .useful-links a {
    margin-right: 0px;
  }
  .search {
    left: -20px
  }
  .asa .our-types-overview p {
    font-size: 14px!important;
  }
  .main .download-media-c {
    flex-direction: column;
  }
  .security-w .row.mix {
    flex-direction: column-reverse;
  }
  .pdf-accordion-numb {
    margin-bottom: 0px;
    height: 34px;
  }
  .pdf-accordion-numb button {
    padding: 3px 9px;
  }
  .pdf-accordion-mobile select {
    width: 100%;
    background-color: #f9f9f9;
    border: 0;
    padding: 20px;
    outline: none;
  }
  .pdf-accordion-mobile select option {
    display: none;
  }
  .pdf-accordion-mobile select option.active {
    display: block;
  }
  .pdf-accordion-mobile .col-md-6 {
    width: 100%;
    margin-top: 20px;
  }
  .pdf-accordion-mobile .col-md-6 .abc {
    background-color: #f1f1f1;
  }
  .pdf-accordion-mobile .col-md-6 .abc .this-pdf{
    padding: 20px;
  }
  .pdf-accordion-mobile .col-md-6 .abc .this-pdf a {
    text-decoration: none;
    color: #262626;
    font-weight: 400;
  }
  .pdf-accordion .pdf-accordion-left {
    width: 100%!important;
  }
  .newsletter-form-wrapper-new {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 20px;
  }
  .card-hidden {
    display: none;
  }
  
  .minimal-counterparty-risk .card {
    padding: 2rem 0.5rem!important;
  }
  .team-members-menu .row {
    width: 100%;
    margin-left: 0px;
    margin-right: 10px;
  }
  .team-members .card {
    padding: 1rem 0.5rem;
    margin: 0px;
  }
  .team-members .container {
    padding: 1rem 0.5rem;
  }
  #basic-navbar-nav {
    display: none!important;
  }
  #basic-navbar-nav.show {
    display: block!important;
  }
  .highlight .basic-navbar-nav-bg {
    position: absolute;
    z-index: -1;
    min-height: 500px;
    /* max-height: 100%; */
    bottom: 0px;
    right: 0;
    top: 72px!important;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 12px 15px -6px #000;
    max-width: 700px;
    display: block;
  }
  .highlight .basic-navbar-nav-bg .navbar-toggler-icon {
    display: none;
  }
  #basic-navbar-clk {
    display: unset!important;
  }
  .white-cont .row.abc {
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .members-board h2 {
    padding-left: 15px;
  }
  .footer-wrapper {
    padding: 0px!important;
  }
  .navbar {
    padding: 6px!important;
  }
  .main {
    padding: 0px!important;
  }
  .box-slider-wrapper .carousel-item .card {
    margin-right: 0px;
  }
  .form-lastname-input input {
    margin-left: 0px;
  }
  .history-of-innovation {
    padding-top: 50px!important;
  }
  .member-content-slider-container.ss {
    height: 800px!important;
  }
  .member-content-slider-container.ss .slick-slider{
    height: 810px!important;
  }
  .blog-content-slider-container.ss {
    height: 800px!important;
  }
  .blog-content-slider-container.ss .slick-slider{
    height: 810px!important;
  }
  .middle-content-card-top h3 {
    font-weight: 600;
  }
  .middle-content-card-bottom h3 {
    font-weight: 600;
  }
  .our-service-off {
    padding-top: 60px!important;
  }
  .member-slide-x {
    padding-top: 30px!important;
  }
  .member-content-slider-container.ss .slider-box-wrapper {
    height: 100%;
  }
  .blog-content-slider-container.ss .slider-box-wrapper {
    height: 100%;
  }
  .member-slider-item.ss {
    flex-direction: column!important;
  }
  .blog-slider-item.ss {
    flex-direction: column!important;
  }
  .navbar-collapse {
    background-color: #ffffff;
    position: absolute;
    border-top: 1px solid #f2f2f2;
    left: 0;
    top: 72px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 12px 15px -6px #000;
    max-width: 412px;
  }
  .navbar-collapse.show .navbar-nav{
    display: none;
  }
  .navbar-collapse.show .navbar-nav-mobile{
    display: block;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.03), 0px 19px 5px rgba(0, 0, 0, 0.002), 0px 5px 10px rgba(0, 0, 0, 0.01), 0px 7.1px 12.1px rgba(0, 0, 0, 0.028);
  }
  .navbar-nav-mobile ul {
    display: flex;
    padding-left: 15px!important;
    padding-right: 15px!important;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .navbar-nav-mobile ul li {
    list-style-type: none;
    text-decoration: none;
  }
  .navbar-nav-mobile ul li.sub-menu-item {
    text-decoration: none;
    color: #AAAAAA;
  }
  .sub-menu-item-wrapper {
    display: flex;
    position: absolute;
    margin-top: 15px;
    padding-bottom: 70px;
  }
  .our-types-overview .col-md-3 .card-body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sub-menu-item-wrapper a {
    text-decoration: none;
  }
  .sub-menu-item-wrapper a span{
    color: #aaaaaa;
    font-size: 12px;
  }
  .sub-menu-item-wrapper div span{
    color: #aaaaaa;
    font-size: 12px;
  }
  .sub-menu-item-wrapper a h4 {
    color: #505050;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .sub-menu-item-wrapper div h4 {
    color: #505050;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .slide-prev-button:hover {
    background-color: #f3f3f3!important;
  }
  .slide-next-button:hover {
    background-color: #f3f3f3!important;
  }
  .minimal-counter p {
    font-size: 16px;
  }
  .minimal-counter {
    margin-top: 20px;
  }
  .navbar-nav-mobile ul li.active ul li {
    text-decoration: none!important;
    position: relative;
  }
  .navbar-nav-mobile ul li .sub-menu-item-wrapper {
    display: none;
  }
  .navbar-nav-mobile ul li.active .sub-menu-item-wrapper {
    display: block;
    position: absolute;
    left: 0px;
    padding: 0px 20px;
    top: 32px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 100px;
    max-height: 640px;
  }
  .navbar-nav-mobile ul li.active .sub-menu-item-list {
    display: flex;
    margin-bottom: 20px;
  }
  .sub-menu-item-list a h4 {
    margin-bottom: 3px;
  }
  .sub-menu-item-list div h4 {
    margin-bottom: 0px;
  }
  .sub-menu-item-list svg {
    margin-top: 5px;
  }
  span.sub-menu-title {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .navbar-nav-mobile ul li.active {
    color: #000000;
    padding-bottom: 15px;
  }
  .navbar-nav-mobile ul li.active ul {
    display: block;
    border-top: 2px solid #CF0A2C;
  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -26.3em;
    height: 100vh;
  }

  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
    overflow-y: scroll;
  }

  .navbar-toggler {
    position: absolute;
    top: 20%!important;
    bottom: 10%;
    right: 3%;
    height: 40px;
  }  
  .navbar-collapse .me-auto.navbar-nav {
    display: none!important;
  }
  #basic-navbar-nav .navbar-nav-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .video {
    height: unset;
    display: none;
  }
  .newsletter-form-wrapper {
    margin-bottom: 30px;
  }
  .newsletter-form-container .form-input-resp {
    flex-direction: column;
  }
  .form-input-resp.aa {
    flex-direction: row;
  }
  .form-lastname-input {
    padding-left: 0px;
  }
  .main-carousel-slider .carousel-caption p {
    margin-top: 10px!important;
  }
  #inputEmail4 {
    max-width: 100%!important;
  }
  .main-carousel-slider .active.carousel-item {
    height: 500px;
  }
  .main-carousel-slider .carousel-caption h3 {
    font-size: 46px!important;
    line-height: 60px;
  }
  .main-carousel-slider .carousel-caption {
    top: 10%!important;
    left: 3%;
    right: 3%;
  }
  
  #basic-navbar-clk {
    width: 50px;
    outline: none;
    box-shadow: none;
    border: none;
  }
  .blog-container-right {
    display: none;
  }
  .multilang-button {
    margin-right: 70px;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
  }
  .card {
    padding: 1rem 0.5rem!important;
  }
  .scroll-btn {
    display: none;
  }
  .card .card-body {
    padding: 10px 0px;
  }
  .blog-content-right .card-body .card-text {
    color: #262626;
  }
  .main-video-box-wrap {
    flex-direction: column-reverse;
  }
  .main-video-box-wrap h3{
    margin-top: 20px;
  }
  .main-video-box-wrap iframe {
    margin-top: 30px;
  }
  .bythenumbers-box {
    padding-left: 0px!important;
  }
  .bythenumbers-box .card-text {
    padding: 25px 0px;
  }
  .bythenumbers-box .number-box {
    margin-bottom: 0px;
  }
  .trading-box-wrap .row {
      padding-left: 30px;
  }
  .slick-slider {
    right: 0px!important;
    height: 650px!important;
  }
  .slider-box-wrapper {
    min-width: unset!important;
  }
  .slick-track {
    left: 0px!important;
    top: 10px!important;
  }
  .numbers-bg-right img {
    display: none;
  }
  .newsletter-form-wrapper h4 {
    color: #262626;
    font-size: 26px;
    font-weight: 600;
    line-height: 40px;
  }
  .newsletter-form-wrapper p {
    color: #505050;
  }
  .middle-content-card-top {
    flex-direction: column-reverse;
  }
  .middle-content-card-bottom {
    flex-direction: column;
  }
  .cards-large-cont img {
    margin-top: 30px;
  }
  .answer-question-wrapper a {
    width: 100%;
    padding: 7px 20px!important;
    margin: 10px 0px;
    border: unset;
  }
  .answer-question-wrapper a:hover {
    background-color: #eeeeee!important;
  }
  .answer-question-wrapper .col-md-12:first-child {
    margin-bottom: 20px;
  }
  .answer-question-wrapper .col-md-12:last-child {
    margin-bottom: 20px;
  }
  .breadcrumb-wrapper {
    padding: 16px 20px;
  }
  .footer-brand ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-brand ul li {
    width: 50%;
  }
  .footer-brand p {
    margin-bottom: 5px;
  }
  .footer-brand img {
    margin-top: 30px;
  }
  .footer-brand .row .col-12:first-child {
    margin-bottom: 20px;
  }
  .navbar {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 10px 0px;
  }
  .navbar-nav-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .member-content-slider-container {
    height: 635px!important;
  }
  .blog-content-slider-container {
    height: 635px!important;
  }
  .company-content-slider-container {
    height: 660px!important;
  }
  .blog-slider-item .card-body {
    padding: 0px 10px;
  }
  .bg-themes {
    height: 340px;
  }
  .bg-themes-big{
    display: none;
  }
  .detail-top-banner-bg h1 {
    padding-top: 20px;
  }
  .crypto-box-bg .btn-light {
    margin-bottom: 20px;
  }
  .crypto-box-bg  h3 {
    padding-top: 20px;
  }
  .main-video-box-wrap .btn {
    margin-top: 20px!important;
  }
  .youtube-box-bg .row {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .trading-box-wrap {
    padding-left: 30px!important;
  }
  .youtube-box-bg .row{
    padding: 30px 0px;
    display: flex;
    flex-direction: column-reverse;
  }
  .youtube-box-bg h3 {
    padding-top: 20px;
  }
  .bg-themes-main-wrapper {
    height: unset!important;
  }
  .order-types-overview .card-body {
    height: unset;
    margin-top: 20px;
    padding-left: 20px;
  }
  .our-offering .row.abc {
    flex-direction: column-reverse;
    margin-top: 100px;
  }
  .gfh h3 {
    font-weight: 700;
  }
  .bg-themes-main-wrapper-big-x {
    height: unset!important;
  }
  .bg-themes-big-x {
    display: none;
  }
  .crypto-custody-wrapper .row {
    flex-direction: column-reverse;
  }
  .kickstart-crypto-wrapper .row.sss{
    flex-direction: column-reverse;
  }
  .kickstart-crypto-wrapper .row.abc {
    margin-top: 30px;
  }
  .kickstart-crypto-wrapper h3 {
    font-weight: 700!important;
  }
  .crypto-paymen-wrapper .row {
    flex-direction: column-reverse;
  }
  .tokenization-service-wrapper .row {
    flex-direction: column-reverse;
  }
  .contact-service-wrapper .row{
    flex-direction: column-reverse;
  }
  .main.mis {
    height: 250px!important;
  }
  .contact-service-wrapper .row {
    padding-top: 30px;
  }
  .contact-service-wrapper .row .btn-light {
    margin-bottom: 30px;
  }
  .accordion-box-right {
    min-height: 350px;
  }
  .wrap-image {
    display: none;
  }
  .wrap-image-mobile {
    display: block;
  }
  .contact-w .card-title {
    padding-top: 40px;
  }
  .search-box {
    top: 80px;
  }
  .tokentermss {
    padding-bottom: 40px;
  }
  .team-members-menu {
    align-self: center;
  }
  .member-box-w .card-body-bot {
    min-height: 120px;
  }
}
@media (max-width: 992px) {
  .bg-themes-main-wrapper-big-x-right .col-md-6 {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }
  .bg-themes-main-wrapper-big-x .col-md-6 {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .numbers-bg-left {
    max-width: 430px;
  }
  .newsletter-form-wrapper-new.www .login-button{
    width: 100%;
    background-color: #CF0A2C;
  }
  .mobile-blog-select {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 0px 15px;
  }
  .mobile-blog-select select {
    background-color: #f9f9f9;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
  }
  .list-page-container .pdf-accordion-numb {
    display: none;
  }
  .search-box-blog {
    left: 20px;
    top: 55px;
    right: unset;
  }
  .search-box-wrap {
    margin-bottom: 50px;
  }
  .primary-b {
    margin-top: 50px;
  }
  .newsletter-form-wrapper-new h4 {
    font-weight: 700!important;
  }
  .nikos {
    margin-right: 15px!important;
  }
  .nikos button {
    width: 100%!important;
  }
  .contact-page-description-main {
    flex-direction: column;
  }
  .contact-page-left-desc {
    padding-bottom: 20px;
  }
  .contact-page-right-desc {
    border-left: unset;
    padding-left: unset;
    border-top: 2px solid #f3f3f3;
    padding-top: 20px;
  }
  .bank-holiday-right-desc {
    border-left: unset!important;
    padding-left: unset!important;
    border-top: 2px solid #f3f3f3;
    padding: 20px!important;
  }
  .mah {
    padding-left: 15px!important;
    padding-right: 15px!important;
    background-color: unset!important;
  }
  .bank-holidays-w {
    margin-bottom: 20px;
  }
  .be-aware-w {
    margin-left: 20px;
    margin-right: 20px;
  }
}